.nav-link:hover .fa{
    transition: all 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.navlink{
    color: white;
}

.nav-link:hover{
    color: white;
    background-color: gray;
}

.active{
    background-color: grey !important;
}